* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

.image {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    margin-top: 50px;
    margin-left: 35px;
}

.input input {
    display: block;
    flex-direction: row;
    margin-top: 10px;
}

.nama-produk {
    padding: 10px 120px 10px 0px;
}

.text {
    margin-top: 50px;
    margin-left: 35px;
}  

.button {
    margin-top: 30px;
    margin-right: 35px;
    display: flex;
    justify-content: end;
}

.button button {
    padding: 10px 70px;
    border: none;
    background-color: rgb(108, 191, 247);
}